/* Default styles for larger screens */
.face_detector>canvas {
    width: 200px;
    height: 200px;
    padding: 20px 10px;
}

.title {
    color: #EFE7DA;
	margin: auto;
	width: 50%;
}

.slogan {
    color: #e55812;
}

.alt-title {
    color: #95c623;
	margin: auto;
	width: 50%;
}

.sub_title {.face_detector > canvas {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

@media only screen and (max-width: 768px) {
    .face_detector > canvas {
        max-width: 100%;
        max-height: 100%;
    }
}
￼

    color: #EFE7DA;
    padding-left: 40px;
}

#canvas {
    background: #002626;
}

#cam_card {
    background: #0e4749;
}

.taipy-button {
    color: #e55812;
}

.css-1dxz43e {
    color: #e55812;
}

.loading-spinner {
  border: 8px solid #e55812; /* Border color of the spinner */
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation duration and type */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Display the loading spinner when the loading flag is set */
[data-loading="true"] .loading-container {
  display: block;
}

#main_bg {
    background: #002626;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .face_detector>canvas {
        overflow: visible;
        width: 80%; /* Set to 100% width for smaller screens */
        height: 70%; /* Allow the height to adjust proportionally */
    }

    .sub_title {
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}

.ctnr {
  display: d-flex;
}

.item {
  /* Additional styling for each item if needed */
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}