/* Default styles for larger screens */
.face_detector>canvas {
    width: 600px;
    height: 600px;
}

.title {
    color: #EFE7DA;
	margin: auto;
	width: 50%;
}

.slogan {
    color: #e55812;
}

.alt-title {
    color: #95c623;
	margin: auto;
	width: 50%;
}

.sub_title {
    color: #EFE7DA;
    padding-left: 40px;
}

#canvas {
    background: #002626;
}

#cam_card {
    background: #0e4749;
}

.taipy-button {
    color: #e55812;
}

.css-1dxz43e {
    color: #e55812;
}

#main_bg {
    background: #002626;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .face_detector>canvas {
        width: 100%; /* Set to 100% width for smaller screens */
        height: 70%; /* Allow the height to adjust proportionally */
    }

    .sub_title {
        padding-left: 20px; /* Adjust padding for smaller screens */
    }
}
